<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <header th:replace="fragments :: header"></header>

    <section th:replace="fragments :: loggedin"></section>

    <nav th:replace="fragments :: navigation"></nav>

    <section th:replace="fragments :: item"></section>

    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h2 th:text="${item.name}" class="card-title"></h2>
            <p th:text="${'Description: ' + item.description}" class="card-text"></p>
            <p th:text="${'Category: ' + item.category.name}" class="card-text"></p>
            <p th:text="${'Owner: ' + item.user.firstName + ' ' + item.user.lastName}" class="card-text"></p>
            <a th:href="${item.id + '/edit'}" class="btn btn-primary">Edit Item</a>
            <a href="#" class="btn btn-primary">Request Item</a>
        </div>
    </div>

    <div th:replace="fragments :: bootstrap"></div>
</body>
</html>