<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <header th:replace="fragments :: header"></header>

    <section th:replace="fragments :: loggedin"></section>

    <nav th:replace="fragments :: navigation"></nav>

    <section th:replace="fragments :: item"></section>

    <div class="card text-center">
        <div class="card-body">
            <a th:href="${item.image}"><img th:src="${item.image}" alt="Card image cap" style="width: 36rem;"></a>
            <h2 th:text="${item.name}" class="card-title"></h2>
            <p th:text="${'Description: ' + item.description}" class="card-text"></p>
            <p th:text="${'Category: ' + item.category.name}" class="card-text"></p>
            <p th:text="${'Owner: ' + item.user.firstName + ' ' + item.user.lastName}" class="card-text"></p>
            <div th:if="${canEdit}">
                <a th:href="${item.id + '/edit'}" class="btn btn-primary">Edit Item</a>
            </div>
            <div th:unless="${canEdit}">
                <div class="btn btn-primary" id="delete-button" onclick="confirmDelete()">Request Item</div>
                <a th:href="${item.id + '/email'}" class="btn btn-warning" id="confirm-delete" style="display: none;">Send Item Request Email?</a>
            </div>
            <div th:if="${email}">
                <div class="alert alert-success" th:text="${email}"></div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: bootstrap"></div>
</body>
</html>