<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>

    <header th:replace="fragments :: header"></header>

    <section th:replace="fragments :: loggedin"></section>

    <nav th:replace="fragments :: viewby"></nav>

    <section th:replace="fragments :: item"></section>

    <div class="card text-center" id="user-details">
        <div class="card-body">
            <h2 th:text="${user.firstName + '''s Details'}" class="card-title"></h2>
            <p th:text="${'First Name: ' + user.firstName}" class="card-text"></p>
            <p th:text="${'Last Name: ' + user.lastName}" class="card-text"></p>
            <p th:text="${'Username: ' + user.username}" class="card-text"></p>
            <p th:text="${'Email: ' + user.email}" class="card-text"></p>
            <a th:href="${user.id + '/edit'}" class="btn btn-primary">Edit User</a>
        </div>
    </div>

    <h4 th:text="${user.firstName + '''s Items'}"></h4>

    <div class="container">
        <div class="row">
            <div th:replace="fragments :: items"></div>
        </div>
    </div>

    <div th:replace="fragments :: bootstrap"></div>
</body>
</html>