<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">NeighborShare</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<header th:fragment="header">
        <a href="/">
            <div class="header">
                <img src="img/logo.png" width="50" alt="Neighbor Share Logo">
                <h1> NeighborShare</h1>
            </div>
        </a>
</header>



<nav th:fragment="navigation">Browse by:
    <a href="/all">All</a> |
    <a href="/category">Category</a> |
    <ul th:each="category : ${categories}">
        <li th:text="${category.name}"></li>
    </ul>
    <a href="/owner">Owner</a> |
    <a href="/view">View</a> |
    <a href="/item">Item</a>
    <a href="/user">Users</a>
    <a href="/item/add">Add Item</a>
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <input class = "btn btn-dark" type="submit" value="Logout"/>
    </form>
    <form name="loginForm" th:action="@{/login}" method="get">
        <input class = "btn btn-dark" type="submit" value="Login"/>
    </form>
    <form name="registerForm" th:action="@{/register}" method="get">
        <input class = "btn btn-dark" type="submit" value="Register"/>
    </form>
</nav>

<div th:fragment="bootstrap">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>

</body>
</html>