<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">NeighborShare</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<header th:fragment="header">
        <a href="/">
            <div class="header">
                <img src="/img/logo.png" width="50" alt="Neighbor Share Logo">
                <h1> NeighborShare</h1>
            </div>
        </a>
</header>

<nav th:fragment="navigation">Browse by:
    <form name="viewForm" th:action="@{/view}" method="get">
        <input class = "btn btn-dark" type="submit" value="All"/>
    </form>

    <div class="dropdown">
        <button class="btn btn-dark">Category</button>
        <div class="dropdown-content">
            <a th:href="'/view/category/' + ${category.id}" th:each="category : ${categories}" th:text="${category.name}">Category Name</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="btn btn-dark">Owner</button>
        <div class="dropdown-content">
            <a th:href="'/view/owner/' + ${user.id}" th:each="user : ${users}" th:text="${user.firstName}">Owner Name</a>
        </div>
    </div>
</nav>

<section th:fragment="item">
    <form name="addForm" th:action="@{/item/add}" method="get">
        <input class = "btn btn-dark" type="submit" value="Add Item"/>
    </form>
</section>

<section class="user-section" th:fragment="user">
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <input class = "btn btn-dark" type="submit" value="Logout"/>
    </form>
    <form name="loginForm" th:action="@{/login}" method="get">
        <input class = "btn btn-dark" type="submit" value="Login"/>
    </form>
    <form name="registerForm" th:action="@{/register}" method="get">
        <input class = "btn btn-dark" type="submit" value="Register"/>
    </form>
</section>

<div th:fragment="bootstrap">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>

</body>
</html>