<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">NeighborShare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>

<header th:fragment="header">
    <a href="/view" id="site-title">
        <div class="header">
            <img src="/img/logo.png" width="50" alt="Neighbor Share Logo">
            <h1> NeighborShare</h1>
        </div>
    </a>
</header>

<section th:fragment="user" class="user-section">
    <form name="loginForm" th:action="@{/login}" method="get">
        <input class = "btn btn-primary" type="submit" value="Login"/>
    </form>
    <form name="registerForm" th:action="@{/register}" method="get">
        <input class = "btn btn-primary" type="submit" value="Register"/>
    </form>
</section>

<section th:fragment="loggedin" class="user-section">
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <input class = "btn btn-primary" type="submit" value="Logout"/>
    </form>
    <form name="userForm" th:action="@{/user/currentuser}" method="get">
        <input class = "btn btn-primary" type="submit" th:value="${currentUser.firstName + '''s Account'}"/>
    </form>
</section>

<nav th:fragment="viewby">View by:
    <form class="viewby" name="viewForm" th:action="@{/view}" method="get">
        <input class = "btn btn-primary" type="submit" value="All"/>
    </form>

    <div class="viewby dropdown ">
        <button class="btn btn-primary " style="color: black;">Category</button>
        <div class="dropdown-content">
            <a th:href="'/view/category/' + ${category.id}" th:each="category : ${categories}" th:text="${category.name}">Category Name</a>
        </div>
    </div>

    <div class="viewby dropdown">
        <button class="btn btn-primary" style="color: black;">Owner</button>
        <div class="dropdown-content">
            <a th:href="'/view/owner/' + ${user.id}" th:each="user : ${users}" th:text="${user.firstName}">Owner Name</a>
        </div>
    </div>
    <div class="viewby">
        <form>
            <div>
                <input class="form-control" placeholder="Filter current items" onkeyup="searchItems()" name="search-term" id="search-term" type="text">
            </div>
        </form>
    </div>
</nav>

<nav th:fragment="viewby-nofilter">View by:
    <form class="viewby" name="viewForm" th:action="@{/view}" method="get">
        <input class = "btn btn-primary" type="submit" value="All"/>
    </form>

    <div class="viewby dropdown">
        <button class="btn btn-primary" style="color: black;">Category</button>
        <div class="dropdown-content">
            <a th:href="'/view/category/' + ${category.id}" th:each="category : ${categories}" th:text="${category.name}">Category Name</a>
        </div>
    </div>

    <div class="viewby dropdown">
        <button class="btn btn-primary" style="color: black;">Owner</button>
        <div class="dropdown-content">
            <a th:href="'/view/owner/' + ${user.id}" th:each="user : ${users}" th:text="${user.firstName}">Owner Name</a>
        </div>
    </div>
</nav>

<div th:fragment="item" id="add-item">
    <form name="addForm" th:action="@{/item/add}" method="get">
        <input class = "btn btn-success" type="submit" value="Add Item"/>
    </form>
</div>

<div th:fragment="items" th:each="item : ${items}" class="col-md-3">
    <div class="card text-center">
        <a th:href="${'/item/' + item.id}"><img class="card-img-top" th:src="${item.image}" alt="Card image cap"></a>
        <div class="card-body">
            <a th:href="${'/item/' + item.id}"><h3 class="card-title" th:text="${item.name}">Card title</h3></a>
            <div class="card-text" th:text="'Category: ' + ${item.category.name}">Category</div>
            <div class="card-text" th:text="'Owner: ' + ${item.user.firstName}">User</div>
        </div>
    </div>
</div>

<form th:fragment="additem" method="post" th:object="${item}" id="add-item-form" enctype="multipart/form-data">
    <div class="form-group">
        <label th:for="name">Name
            <small th:errors="*{name}" id="nameHelpBlock" class="form-text text-muted text-danger"></small>
        </label>
        <input class="form-control" type="text" th:field="*{name}" aria-describedby="nameHelpBlock"/>
    </div>
    <div class="form-group">
        <label th:for="description">Description (optional)
            <small th:errors="*{description}" id="descriptionHelpBlock" class="form-text text-muted text-danger"></small>
        </label>
        <textarea class="form-control" th:field="*{description}" aria-describedby="descriptionHelpBlock" rows="4" cols="5">Text</textarea>
    </div>
    <div class="form-group">
        <label th:for="category">Category
            <small th:text="${categoryError}" id="categoryHelpBlock" class="form-text text-muted text-danger"></small>
        </label>
        <select name="categoryId" aria-describedby="descriptionHelpBlock">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}">
            </option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="available">Available
            <small th:errors="*{available}" id="availableHelpBlock" class="form-text text-muted text-danger"></small>
        </label>
        <input class="form-control" type="checkbox" th:field="*{available}" aria-describedby="availableHelpBlock"/>
    </div>
    <div class="form-group">
        <label for="image">Add Image (optional)</label>
        <input id="image" type="file" name="file">
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="form-btn">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<form th:fragment="edititem" method="post" action="/item/edit" th:object="${item}" id="edit-item-form" enctype="multipart/form-data">
    <div class="form-group">
        <label th:for="name">Name
            <small th:errors="*{name}" id="nameHelpBlock" class="form-text text-muted text-danger"></small>
        </label>
        <input class="form-control" type="text" th:field="*{name}" aria-describedby="nameHelpBlock"/>
    </div>
    <div class="form-group">
        <label th:for="description">Description
            <small th:errors="*{description}" id="descriptionHelpBlock" class="form-text text-muted text-danger"></small>
        </label>
        <textarea class="form-control" th:field="*{description}" aria-describedby="descriptionHelpBlock" rows="2">Text</textarea>
    </div>
    <div class="form-group">
        <label th:for="category">Category
            <small th:errors="*{category}" id="categoryHelpBlock" class="form-text text-muted text-danger"></small>
        </label>
        <select th:field="*{category}" aria-describedby="descriptionHelpBlock">
            <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}" th:selected="${category == currentCategory}"></option>
        </select>
        <label th:for="available">
            <small th:errors="*{available}" id="availableHelpBlock" class="form-text text-muted text-danger"></small>
        </label>
        <input type="checkbox" th:field="*{available}" aria-describedby="availableHelpBlock" id="edit-available"/>
        <span>Item available for sharing?</span>
    </div>
    <input th:unless="${existingItemId}" type="hidden" th:value="*{id}" name="itemId" />
    <input th:if="${existingItemId}" type="hidden" th:value="${existingItemId}" name="itemId" />
    <img class="card-img-top img-edit" th:src="${item.image}" alt="Card image cap">
    <div class="form-group">
        <label for="image">Change Image</label>
        <input id="image" type="file" name="file">
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="form-btn">
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="btn btn-info" id="delete-image-button" onclick="confirmImageDelete()">Delete Image</div>
        <a th:href="${'delete-image?image=' + item.image}" class="btn btn-warning" id="confirm-delete-image" style="display: none;">Confirm Image Delete?</a>
        <div class="btn btn-danger" id="delete-button" onclick="confirmDelete()">Delete Item</div>
        <a href="delete" class="btn btn-warning" id="confirm-delete" style="display: none;">Confirm Item Delete?</a>
    </div>
</form>

<div th:fragment="bootstrap">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>

</body>
</html>