<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <header th:replace="fragments :: header"></header>

    <section th:replace="fragments :: user"></section>

    <div id="homepage">
        <br>
        <h4>Login or register to view items.</h4>
        <p>Contact Evan for login details to try out the app and see how it works.</p>
        <br>
        <p>A lot of people buy things like lawncare equipment, tools, camping equipment, cooking appliances, etc. that they use only occasionally and the items just sit there unused most of the time. This wastes money, takes up space, and isn't efficient. If people could easily show what items they own that others could borrow, it would save a lot of money and be a more efficient use of everyone's resources.</p>
        <p>Users of NeighborShare can create an account, add items to share, upload a picture from their computer or directly from their phone, and see what items other users have offered to share. Users can type a search term or browse shared items by category or owner and can click a button to automatically generate an email notifying the owner of the user's desire to borrow that item.</p>
    </div>

    <div th:replace="fragments :: bootstrap"></div>
</body>
</html>