<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: header"></header>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post" th:object="${user}">
        <div class="form-group">
            <label th:for="email">Email</label>
            <input class="form-control" type="email" th:field="*{email}" aria-describedby="emailHelpBlock"/>
            <small th:errors="*{email}" id="emailHelpBlock" class="form-text text-muted text-danger"></small>
        </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input class="form-control" type="password" th:field="*{password}" aria-describedby="passwordHelpBlock"/>
            <small th:errors="*{password}" id="passwordHelpBlock" class="form-text text-muted text-danger"></small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div th:replace="fragments :: bootstrap"></div>
</body>
</html>