<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: header"></header>

    <form method="post" th:object="${user}">
        <div class="form-group">
            <label for="username">Username</label>
            <input id ="username" class="form-control" type="text" name="username" aria-describedby="usernameHelpBlock"/>
            <small th:text="${errors}" id="usernameHelpBlock" class="form-text text-muted text-danger"></small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id ="password" class="form-control" type="password" name="password" aria-describedby="passwordHelpBlock"/>
            <small th:text="${errors}" id="passwordHelpBlock" class="form-text text-muted text-danger"></small>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-btn">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <div th:replace="fragments :: bootstrap"></div>
</body>
</html>