<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <header th:replace="fragments :: header"></header>

    <nav th:replace="fragments :: navigation"></nav>

    <ul th:each="item : ${items}">
        <li th:text="${item.name}">name</li>
        <li th:text="${item.description}">description</li>
        <li th:text="${item.category}">category</li>
    </ul>

    <div th:replace="fragments :: bootstrap"></div>
</body>
</html>